{% extends 'base.html' %}

{% block head %}
<title>Add Loan</title>
{% endblock %}

{% block body %}
<h1>Please Add The Loan Information</h1>
<div class="form">
    <form action="" method="POST">
        <input type="text" name="bookID" id="bookID" placeholder="Book ID" class="form-control">
        <br>
        <input type="text" name="custID" id="custID" placeholder="Customer ID" class="form-control">
        <br>
        <input type="submit" value="submit" class="btn btn-success">
    </form>
</div>
{% endblock %}