{% extends 'base.html' %}

{% block head %}
<title>View Books</title>
{% endblock %}

{% block body %}

<form method="POST">
  <div class="form-floating margined">
      <input type="text" name="name" placeholder="Book name" class="form-control" id="floatingInputValue">
  </div>
</form>


<table>
  <td>Book ID</td>
  <td>Book name</td>
  <td>Book Author</td>
  <td>Year Published</td>
  <td>Book Type</td>
  <td>Delete?</td>
  {% for book in book %}
  <tr>
    <td>
      {{book.id}}
    </td>
    <td>
      {{book.name}}
    </td>
    <td>
      {{book.author}}
    </td>
    <td>
      {{book.year_published}}
    </td>
    <td>
      {{book.type}}
    </td>
    <td>
      <a href="{{url_for('showbook', id = book.id)}}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
