{% extends 'base.html' %}

{% block head %}
<title>View Books</title>
{% endblock %}

{% block body %}

<table>
  <td>Book ID</td>
  <td>Book name</td>
  <td>Book Author</td>
  <td>Year Published</td>
  <td>Book Type</td>
  <td>Delete?</td>
  {% for book in book %}
  <tr>
      <td>
        {{book.id}}
      </td>
      <td>
        {{book.name}}
      </td>
      <td>
        {{book.author}}
      </td>
      <td>
        {{book.year_published}}
      </td>
      <td>
        {{book.type}}
      </td>
      <td>
        <a href="">Delete</a>
      </td>
  </tr>
  {% endfor %}
  </table>
{% endblock %}