{% extends 'base.html' %}

{% block head %}
<title>View Books</title>
{% endblock %}

{% block body %}

<table>
  {% for item in book %}
  <tr>
      <td>
        {{item.id}}
        {{ item.type |safe }}
      </td>
      <td>
        {{item.name}}
        {{ item.type |safe }}
      </td>
      <td>
        {{item.author}}
        {{ item.type |safe }}
      </td>
      <td>
        {{item.year_published}}
        {{ item.type |safe }}</td>
      <td>
        {{item.type}}
        {{ item.type |safe }}
      </td>
  </tr>
  {% endfor %}
  </table>
{% endblock %}