{% extends 'base.html' %}

{% block head %}
<title>View Customers</title>
{% endblock %}

{% block body %}

<form method="POST">
  <div class="form-floating margined">
    <input type="text" name="name" placeholder="Book name" class="form-control" id="floatingInputValue">
    <input type="submit" value="submit">
  </div>
</form>

<table>
  <td>Customer ID</td>
  <td>Customer name</td>
  <td>Customer city</td>
  <td>Customer age</td>
  <td>Delete?</td>
  {% for customer in customer %}
  <tr>
    <td>
      {{customer.id}}
    </td>
    <td>
      {{customer.name}}
    </td>
    <td>
      {{customer.city}}
    </td>
    <td>
      {{customer.age}}
    </td>
    <td>
      <a href="{{url_for('showcustomer', id = customer.id)}}">Delete</a>
    </td>
  </tr>
  {% endfor %}
  {% endblock %}