{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Welcome to my book store</h1>
    <table></table>
    <tr>
        <th>View All Books</th>
        <th>View All Customers</th>
        <th>View All Loans</th>
        <th>View Late Loans</th>
        <th>Add A New Book</th>
        <th>Add A New Customer</th>
        <th>Loan A Book</th>
        <th>Return A Book</th>
        <th>Search For Book</th>
        <th>Seatch For Customer</th>
        <th>Remove A Book</th>
        <th>Remove A Customer</th>
    </tr>
</div>
{% endblock %}