{% extends 'base.html' %}

{% block head %}
<title>Book Shop</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Welcome to my book store</h1>
    <h3>
        <a herf="">View All Books</a>
        <br><br>
        <a herf="">View All Customers</a>
        <br><br>
        <a herf="">View All Loans</a>
        <br><br>
        <a herf="">View Late Loans</a>
        <br><br>
        <a herf="">Add A New Book</a>
        <br><br>
        <a herf="">Add A New Customer</a>
        <br><br>
        <a herf="">Loan A Book</a>
        <br><br>
        <a herf="">Return A Book</a>
        <br><br>
        <a herf="">Search For Book</a>
        <br><br>
        <a herf="">Seatch For Customer</a>
        <br><br>
        <a herf="">Remove A Book</a>
        <br><br>
        <a herf="">Remove A Customer</a>
        <br><br>
    </h3>
</div>
{% endblock %}